@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 100vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 170px;
    left: 75%;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(114, 111, 111);
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 1.01rem;
    color: white;
}

.buttons>* {
    margin: 0 12px;
}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 16px;
}

.playbar {
    position: fixed;
    bottom: 5px;
    left: 26.5vw;
    /* aligns with the right div which starts after 25vw */
    width: 72vw;
    /* same width as .right 100vw - 25vw+3vw left sidebar */
    background-color: #dad5d5;
    padding: 10px 20px;
    filter: invert(1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    box-sizing: border-box;
    z-index: 10;
    min-height: 40px;
}



.abovebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songinfo {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.songtime {
    font-family: monospace;
    font-size: 11px;
    opacity: 0.8;
}

.songbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.songinfo,
.songtime {
    color: black;
    padding: 0px 12px;
}

.songbuttons img {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.seekbar {
    height: 4px;
    width: 100%;
    background: black;
    position: relative;
    border-radius: 12px;
    margin-top: 4px;
    box-sizing: border-box;
    cursor: pointer;
}



.circle {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: -3.5px;
    left: 0%;
    transition: left 0.5s;
}

/* Others */
.margin {
    padding-bottom: 5%;
}

.close {
    position: absolute;
    display: none;
    left: 175px;
    top: 11px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 5px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 5px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    position: relative;
}

.small-icon {
    width: 40px;
    height: 40px;
}

.play-group {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.songList .info {
    font-size: 13px;
    width: 344px;
}
.info div{
    word-wrap: break-all;
}
.songinfo{
    width: auto;
}

@media(max-width:1400px) {
    .left {
        background-color: #252525;
        position: absolute;
        left: -110px;
        transition: all .3s;
        z-index: 1;
        width: 373px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }
    .left.close img{
     position: absolute;
    left: 175px;
    top: 11px;
        
    }

    .playbar {
        left: 0vw;
        right: 0;
        width: 88vw;
    }
    .seekbar{
        width: 87vw;
    }

    .hamburger {
        display: block;
    }
    .card {
        width: 80vw;
    }
    .cardContainer{
        justify-content: center;
    }
    .close{
        display: block;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: centre;
        
    }
}